        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

        * {
            font-family: 'Manrope', sans-serif;
            color: white;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        body {
            background-color: #272727;
        }

        #content {
            background-color: #1e1e1e;
            width: 300px;
            height: 200px;
            padding: 12px;
        }

        .input {
            display: flex;
            margin-bottom: 2px;
        }

        .input input {
            background-color: #272727;
            border: none;
            margin-left: 12px;
            flex: 1;
            font-size: 12px;
        }

        .button {
            padding: 8px;
            background-color: #3fdf3f;
            text-align: center;
            cursor: pointer;
            border: none;
            width: 276px;
            height: 40px;
        }

        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
        
        input:focus {
        outline: none;
        }

        button:focus {
        outline: none;
        }

        .popup {
            padding: 24px;
            z-index: 2;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #ff4242;
            box-shadow: #ff424280 0px 0px 10px;
        }

        .popup-accept {
            margin-top: 8px;
            cursor: pointer;
            padding: 8px 14px;
            display: inline-block;
            background-color: white;
            color: black;
        }
